 .data-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 40px 0;
  margin: 20px 0; ;
  box-sizing: border-box;
  background-color: #e8f1f3;;
  border-radius: 20px;
  font-family: Arial, sans-serif;
}
.all-tables {
  display: flex;
  justify-content: center;
  gap: 30px;
  flex-wrap: wrap;
  width: 100%;
  margin-bottom: 30px;
}

.service-table {
  flex: 1;
  min-width: 250px;
  max-width: 350px;
  border-collapse: collapse;
  border-radius: 8px;
  overflow: hidden;
  background-color: #e1d9d9;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
}

.top-section,
.middle-section,
.bottom-section {
  display: flex;
  justify-content: center;
  width: 100%;
}

.data-container > .top-section,
.data-container > .middle-section,
.data-container > .bottom-section {
  display: inline-flex; /* line them up */
  flex-direction: row;
  justify-content: center;
  gap: 30px;
  flex-wrap: wrap;
  margin-bottom: 30px;
}


/* Top Section: Routine OPD */
/* .top-section {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-bottom: 30px;
} */

/* Middle Section: Emergency & Laboratory */
/* .middle-section {
  width: 100%;
  display: flex;
  justify-content: center;
  gap: 30px;
  flex-wrap: wrap;
  margin-bottom: 30px;
} */

/* Bottom Section: Contact Info */
/* .bottom-section {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 20px;
} */

.bottom-section h3 {
   background-color: #50be60;
  color: #000;
  font-family: 'Montserrat', sans-serif;
  font-size: 20px;
  font-weight: 580;
  padding: 20px;
  text-align: center;
  border-radius: 8px;
  margin:0;
}

/* Service Table Styling */
/* .service-table {
  width: 100%;
  max-width: 500px;
  border-collapse: collapse;
  border-radius: 8px;
  overflow: hidden;
  background-color: #e1d9d9;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
} */


/* Table Header */
.service-table th {
  background-color: #50be60;
  color: #000;
  font-family: 'Montserrat', sans-serif;
  font-size: 20px;
  font-weight: 580;
  padding: 20px;
  text-align: center;
}

/* Table Rows */
.service-table td {
  padding: 12px;
  color: #333;
  font-weight: 500;
  text-align: center;
  border-top: 1px solid #eee;
}


.service-table tbody tr {
  background-color: #f2f2f2;
}



/* Responsive Behavior */
@media (max-width: 768px) {
  .middle-section {
    flex-direction: column;
    align-items: center;
  }

  .service-table {
    max-width: 90%;
  }
}
