 *,
*::before,
*::after {
  box-sizing: border-box;
}


.services {
  text-align: center;
  width: 100%;
   max-width: 100vw;
  background: #fff;
  color:#fff;;
  font-family: Arial, sans-serif;
  margin-top: 20px;
  padding: 0;
}

/* Intro Section */
.intro {
  height: 40vh;
  background-color: #1A3D7C;
    /* background: linear-gradient(to right, #fdf6e3, #bbefa5); */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2rem;
  opacity: 0;
  transform: translateY(60px);
  transition: all 0.8s ease-out;
}

.intro.show {
  opacity: 1;
  transform: translateY(0);
}

.intro h2 {
  font-size: 2.5rem;
  font-weight: bold;
  margin:0;
  max-width: 800px;
  line-height: 1.3;
}

.intro p {
  font-size: 1rem;
  color: #efe7e7;
  line-height: 1.6;
  max-width: 900px;
}



@media (max-width: 768px) {
  .services{
    padding-top:50px;
  }
  .intro h2 {
    font-size: 2rem;
  }
  .service-card,
  .service-card:nth-child(even) {
    transform: translateX(0);
  }

   .service-grid {
    grid-template-columns: 1fr;
    padding: 3rem 1rem;
  }
}